[submodule "mzdns_tool"]
	path = mzdns_tool
	url = git@git.oschina.net:mz/php_mzdns.git
        ignore = dirty
[submodule "mzphp_user"]
	path = mzphp_user
	url = git@git.oschina.net:mz/mzphp_user.git
